<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi </h1>
<p>
  <%= @current_user.email %>  Reserved a Room and you are a team member.
</p>
</body>
</html>